############################
## IDE settings
############################
.settings/
.idea/
*.iml

############################
## Java settings
############################
target/
metas/
META-INF/

############################
## log files
############################
*.tsv
*.log
*.log
*.log.*

############################
## Other stttings
############################
__*
.*
venv/
backup/
scripts/R