############################
## IDE settings
############################
.settings/
.idea/
*.iml

############################
## Java settings
############################
target/
metas/
META-INF/
jMetal/

############################
# scripts
############################
*.Rproj
__pycache__
*.pyc
.Rproj.user/
.RData
.Rhistory

############################
## log files
############################
*.tsv
*.log

############################
## Other stttings
############################
__*
.*
venv/
